.wrapper {
  height: 100dvh;
  height: 100vh;
  width: 100%;
  color: white;

  display: flex;
  flex-direction: column;
  position: relative;

  overflow: hidden;
}

.trooper {
  position: absolute;
  bottom: 0;
  left: 50%;
  translate: -50% 35%;
  height: 140dvh;
  pointer-events: none;
  user-select: none;
  mask-image: linear-gradient(to bottom, black 50%, transparent 80%);
}

.name-wrapper {
  width: 50%;
  position: absolute;
  bottom: 50%;
  translate: 0 50%;
  left: 10px;
  overflow-x: hidden;
}

.name {
  font-size: 12rem;
  font-weight: bold;
  font-family: var(--font-orbitron);
  letter-spacing: 1rem;
  line-height: 1;
  padding-bottom: 0.15em;
  padding-left: 0.5rem;

  color: #ffffff36;
}
.description-block-shadow {
  position: absolute;
  right: 2%;
  bottom: 15%;
  width: 35%;
  height: 70%;
}

.notch {
  background-color: var(--trooper-color);
  background-image: url('../-assets/chrome.webp');
  background-blend-mode: hard-light;
  width: 40%;
  height: 20%;
  position: absolute;
  top: 2%;
  left: 50%;
  translate: -50% 0;
}

.description-block {
  width: 100%;
  height: 100%;
  padding: 10% 6%;
  padding-bottom: 4%;
  position: absolute;

  background: #e0e0e0;
  box-shadow:
    inset -8px -8px 10px #6b6b6b,
    inset 10px 10px 14px #ffffff;

  border-radius: 0 0 25px 25px;
  clip-path: polygon(
    38% 5%,
    62% 5%,
    68% 0,
    95% 0,
    100% 5%,
    100% 100%,
    0 100%,
    0 5%,
    5% 0,
    32% 0
  );
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > div {
    overflow-y: scroll;
  }

  & h2 {
    font-size: 4.2rem;
    line-height: 0.8;
    color: var(--trooper-color);
    font-family: var(--font-orbitron);
    margin-bottom: 1.2rem;
  }

  & h3 {
    font-size: 0.9rem;
    color: rgba(26, 26, 26, 0.9);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 3rem;
  }

  & p {
    margin: 0;
    padding-right: 1rem;
    line-height: 1.6;
    color: #333;
    font-size: 1rem;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1rem;
  & button {
    width: 50px;
    height: 50px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow:
      inset -2.5px -2.5px 10px #898989,
      inset 2.5px 2.5px 10px #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      box-shadow:
        inset -2.5px -2.5px 10px #898989,
        inset 2.5px 2.5px 10px #ffffff,
        0 4px 12px rgba(0, 0, 0, 0.15);
      transform: translateY(-1px);
    }

    &:active {
      box-shadow:
        inset -2.5px -2.5px 10px #cbcbcb,
        inset 2.5px 2.5px 10px #c6c6c6;

      transform: translateY(1px);
    }

    & > * {
      color: #0000008f;
    }
  }
}
